%header{layout: "row"}
  %div.brand{layout: "row", flex: true, layout-align: "start center", layout-padding: true}
    %a{ng-href: "/"}
      %img{src: "/assets/images/konsento-logo.png"}
    %span
      Konsento

  %div{layout: "row", layout-align: "end center", layout-padding: true}
    %md-button.md-primary{ng-href: "#/sign-up", md-no-ink: true} Cadastrar
    %md-button.md-primary{ng-href: "#/sign-in", md-no-ink: true} Entrar
