header{
  .brand{
    span{
      font-size: 28px;
      margin-top: -8px;
      margin-left: 10px;
      color: $navy-blue;
    }
  }
  .account-actions{

    .profile-button span{
      color: #757575;
      padding-left: 10px;
      text-transform: lowercase;
    }
    .logout-button{
      color: #757575;
      text-transform: lowercase;
    }
  }
}
