#content {
  .threads-list{
    md-list-item {
      a {
        text-decoration: none;
      }
    }
    md-list-item:hover {
      background-color: rgba(0, 0, 0, 0.15);
    }
    md-card-content {
      padding: 0px
    }
  }

  .subgroups-list{
    md-list-item {
      a {
        text-decoration: none;
      }
    }
    md-list-item:hover {
      background-color: rgba(0, 0, 0, 0.15);
    }
    md-card-content {
      padding: 0px
    }
  }


  md-tabs-content-wrapper{
    background:$light-gray-bg;
  }
}
