%div.subgroups-list{layout: "row"}
  %md-card{flex: 70, offset:15}
    %md-card-content
      %md-list{layout: "column", flex: true}
        %md-list-item.md-2-line{ng-repeat: "subgroup in subgroups", flex: true}
          %a.md-list-item-text{ng-href: "#/", ng-class: "md-offset", layout-padding: true}
            %h3
              {{subgroup.title}}
            %p
              {{subgroup.desc}}
