%div{layout: "column", flex: true}
  %div{ng-include: "'/app/components/header/header.html'"}
  %div#content{layout: "column", flex: true}
    %ks-toolbar

    %md-content
      %md-tabs{md-selected: "data.selectedIndex", md-align-tabs: "top", md-dynamic-height: true}
        %md-tab#groups
          %md-tab-label
            Grupos
          %md-tab-body
            %div{layout: "row"}
              %ks-groups-list{flex: true}

  %div{ng-include: "'/app/components/footer/footer.html'"}
