@import url(http://fonts.googleapis.com/css?family=Maven+Pro:400,500);

$light-gray-bg: #ececec;
$navy-blue: rgb(63,81,181);

:focus {
    outline: none;
}
html {
  font-family: 'Maven Pro', serif;
}
body{
  background: $light-gray-bg;
}
div[ui-view] {
  min-height: 100%;
}

h2.breadcrumbs {
  a {
    color: rgba(255, 255, 255, 0.7);
  }
  a:hover {
    color: rgba(255, 255, 255, 1);
  }
  .separator {
    md-icon {
      color: rgba(255, 255, 255, 0.7);
    }
  }
  a.current {
    color: rgba(255, 255, 255, 1);
  }
}

#search-group-holder {
  margin-top: 28px;
  input {
    color: rgba(255, 255, 255, 0.9);
  }
  /* do not group these rules */
  input::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.4);
  }
  input:-moz-placeholder {
    color: rgba(255, 255, 255, 0.4);
  }
  input:-ms-input-placeholder { /* IE10+ */
    color: rgba(255, 255, 255, 0.4);
  }
}

md-tabs.md-default-theme {
  md-ink-bar {
    color: #0D47A1;
    background: #0D47A1;
  }
}

md-tooltip.md-default-theme {
  position: absolute;
}


/* Do not remove this comments bellow. It's the markers used by gulp-inject to inject
   all your sass files automatically */
// injector
// endinjector
