%div.proposal-wrapper{layout: "column", flex: true}
  %p
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
    magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

  %div{layout: "row", layout-align:"end center"}
    %div.proposal-action{layout: "row"}
      %md-chips
        %md-chip
          3 comentários
          %a.message-icon{ng-href:"#/"}
            %md-icon{md-svg-icon: "message"}
            %md-tooltip Ver comentários

    %div.proposal-action{layout: "row"}
      %md-chips
        %md-chip
          3 participações
          %a.agree-icon{ng-href: "#/"}
            %md-icon{md-svg-icon: "agree", alt: "adasd"}
            %md-tooltip Concordar
          %a.disagree-icon{ng-href: "#/"}
            %md-icon{md-svg-icon: "disagree"}
            %md-tooltip Discordar
