%div.proposal-comment{layout: "column", flex: true, ng-repeat: "comment in comments | orderBy:'-id'"}
  %a{ng-href: "#/"}
    {{comment.user.username}}
  %p
    {{comment.content}}

  %div{layout: "row", layout-align:"end center"}
    %div.comment-actions{layout: "row"}
        3 respostas
        %a.reply-icon{ng-href:"#/"}
          %md-icon{md-svg-icon: "reply"}
          /%md-tooltip Ver respostas


  %md-divider
