#new-thread-wrapper{
  h2 {
    font-size: 20px;
    color: #3f51b5;
    font-weight: 500;
  }
  .proposal{
    background: #E3F2FD;
    padding: 0px 10px;
  }
  .add-proposal{
    text-transform: lowercase;
  }
  .add-proposal md-icon{
    margin-right: 10px
  }
}
