%div{layout: "column", flex: true}
  %div{ng-include: "'/app/components/header/header.html'"}

  %div#content{layout: "column", flex: true}
    %ks-toolbar

    %md-content
      %div.thread-wrapper{layout: "row"}
        %md-card{flex: 90, offset:5}
          %md-card-content
            %div#thread-title
              Titulo do tópico de exemplo aqui
            %div{layout: "row"}
              %div#thread{flex:true}
                %div.subtitle
                  Tópico
                %md-tabs{md-selected: "data4.selectedIndex4", md-align-tabs: "top", md-dynamic-height: true}
                  %md-tab
                    %md-tab-label
                      Consenso
                    %md-tab-body
                        %ks-consensus

              %div#proposals{flex:true}
                %div.subtitle
                  Alterações para a proposta selecionada
                %md-tabs{md-selected: "data.selectedIndex", md-align-tabs: "top", md-dynamic-height: true}
                  %md-tab
                    %md-tab-label
                      Popular
                    %md-tab-body
                        %ks-proposals{ng-repeat: "proposal in selectedConsensus.proposals.popular"}

                  %md-tab
                    %md-tab-label
                      Topo
                    %md-tab-body
                        %ks-proposals{ng-repeat: "proposal in selectedConsensus.proposals.hot"}

                  %md-tab
                    %md-tab-label
                      Recentes
                    %md-tab-body
                        %ks-proposals{ng-repeat: "proposal in selectedConsensus.proposals.recents"}

            %div#thread-comments{layout: "column"}
              %md-divider
              %div
                %md-tabs{md-selected: "data2.selectedIndex2", md-align-tabs: "top", md-dynamic-height: true}
                  %md-tab
                    %md-tab-label
                      Escreva seu comentário
                    %md-tab-body
                      %form{ng-submit: "addComment()"}
                        %md-input-container
                          %label Comentário
                          %textarea{ng-model: "newComment.content"}
                        %div{layout: "row", layout-align:"end center"}
                          %md-button.md-primary{ md-no-ink: true, type: "submit"}
                            Enviar

              %div
                %md-tabs{md-selected: "data2.selectedIndex2", md-align-tabs: "top", md-dynamic-height: true}
                  %md-tab
                    %md-tab-label
                      Comentários ({{comments.length}})
                    %md-tab-body
                      %ks-thread-comments


  %div{ng-include: "'/app/components/footer/footer.html'"}
