.thread-wrapper {
    background: $light-gray-bg;
}

md-tab-content {
  background: white;
}

#thread-title {
  color: $navy-blue;
  font-size: 28px;
  padding-bottom: 20px
}

#thread {
  border-right: solid 1px lightgray;
  padding-right: 10px;

  .subtitle {
    color: $navy-blue;
    font-size: 14px;
  }

  p {
    padding: 10px 10px;
    font-size: 14px;
    text-align: justify;
  }

  .proposal-actions{
    font-size: 13px;
    background: rgb(224,224,224);
    padding: 3px 5px;
    border-radius: 10px;
  }

  .proposal-actions div {
    padding: 0px 3px;
  }
  ks-consensus div.proposal-wrapper.selected{
    background: #BBDEFB;
  }
  ks-consensus div.proposal-wrapper{
    padding: 5px 5px;
  }
  ks-consensus div.proposal-wrapper.ng-click-active{
    background: #90CAF9;
  }
  ks-consensus.selected .proposal-wrapper {
    background: #E3F2FD !important;
  }
  ks-consensus .proposal-wrapper:hover {
    background: #EEEEEE;
    cursor: pointer;
  }

  ks-consensus .proposal-wrapper {
    .message-icon md-icon, .disagree-icon md-icon, .agree-icon md-icon  {
      height: 20px;
      width: 20px;
    }

    .message-icon:hover md-icon {
      color: $navy-blue;
    }

    .agree-icon {
      margin-right: 5px;
    }
    .agree-icon:hover md-icon {
      color: #4CAF50;
    }

    .disagree-icon:hover md-icon {
      color: #F44336;
    }

    .message-icon, .agree-icon  {
      margin-left: 10px;
    }
  }
}



#proposals {
  padding-left: 10px;
  .subtitle  {
    color: $navy-blue;
    font-size: 14px;
  }

  p  {
    padding: 10px 10px;
    font-size: 14px;
    text-align: justify;
  }
  .proposal-actions{
    font-size: 13px;
    background: rgb(224,224,224);
    padding: 3px 5px;
    border-radius: 10px;
  }

  .proposal-actions div {
    padding: 0px 3px;
  }

  ks-proposals div.proposal-wrapper{
    padding: 5px 5px;
  }

  ks-proposals .proposal-wrapper {
    .message-icon md-icon, .disagree-icon md-icon, .agree-icon md-icon  {
      height: 20px;
      width: 20px;
    }

    .message-icon:hover md-icon {
      color: $navy-blue;
    }

    .agree-icon {
      margin-right: 5px;
    }
    .agree-icon:hover md-icon {
      color: #4CAF50;
      cursor: pointer;
    }

    .disagree-icon:hover md-icon {
      color: #F44336;
      cursor: pointer;
    }

    .message-icon, .agree-icon  {
      margin-left: 10px;
    }
  }
}



#thread-comments {
  .subtitle  {
    color: $navy-blue;
    font-size: 28px;
  }

  .thread-comment  {
    background: #efefef;
    padding: 10px;
    a  {
      color: $navy-blue;
      text-decoration: none;
    }

    a:hover  {
      color: #2196F3;
    }

  }
  .reply-icon md-icon  {
    height: 20px;
    width: 20px;
  }
  .reply-icon {
    padding-left: 5px;
  }

  .reply-icon:hover md-icon {
    color: $navy-blue;
  }
  .comment-actions{
    font-size: 13px;
    background: rgb(224,224,224);
    padding: 3px 5px;
    border-radius: 10px;
  }

  .comment-actions div {
    padding: 0px 3px;
  }

  md-divider {
    margin-top: 30px;
  }
}
