.thread-wrapper {
    background: $light-gray-bg;
}

md-tab-content {
  background: white;
}

#thread-title {
  color: $navy-blue;
  font-size: 28px;
  padding-bottom: 20px
}

#thread {
  border-right: solid 1px lightgray;
  padding-right: 10px;

  .subtitle {
    color: $navy-blue;
    font-size: 14px;
  }

  p {
    padding: 10px 10px;
    font-size: 14px;
    text-align: justify;
  }

  .proposal-action {
    padding: 0px 3px
  }

  md-chips.md-default-theme .md-chips {
    box-shadow: none;
  }

  ks-proposal.selected .proposal-wrapper {
    background: #E3F2FD;
  }
}

#proposals {
  padding-left: 10px;
  .subtitle  {
    color: $navy-blue;
    font-size: 14px;
  }

  p  {
    padding: 10px 10px;
    font-size: 14px;
    text-align: justify;
  }

  .proposal-action  {
    padding: 0px 3px
  }

  md-chips.md-default-theme .md-chips {
    box-shadow: none;
  }
}

ks-proposal .proposal-wrapper {
  .message-icon md-icon, .disagree-icon md-icon, .agree-icon md-icon  {
    height: 20px;
    width: 20px;
  }

  .message-icon:hover md-icon {
    color: $navy-blue;
  }

  .agree-icon:hover md-icon {
    color: #4CAF50;
  }

  .disagree-icon:hover md-icon {
    color: #F44336;
  }

  .message-icon, .agree-icon  {
    margin-left: 10px;
  }
}

#thread-comments {
  .subtitle  {
    color: $navy-blue;
    font-size: 28px;
  }

  .thread-comment  {
    background: #efefef;
    padding: 10px;
    a  {
      color: $navy-blue;
      text-decoration: none;
    }

    a:hover  {
      color: #2196F3;
    }

  }

  .reply-icon {
    padding-top: 10px;
  }

  .reply-icon:hover md-icon {
    color: $navy-blue;
  }

  md-chips.md-default-theme .md-chips {
    box-shadow: none;
  }

  md-divider {
    margin: 30px 0px;
  }
}
